<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>demo-hessian-server</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <!-- 配置 user servlet -->
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
        <!-- 配置接口的具体实现类 -->
        <init-param>
            <param-name>service-class</param-name>
            <param-value>com.cyl.demo.hessian.server.service.impl.UserServiceImpl</param-value>
        </init-param>
    </servlet>
    <!-- 映射 user servlet 的URL地址 -->
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <!-- 配置 file servlet -->
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
        <!-- 配置接口的具体实现类 -->
        <init-param>
            <!-- service-class 也可以写为 home-class -->
            <param-name>home-class</param-name>
            <!-- 服务器对接口的实现，供客户端调用 -->
            <param-value>com.cyl.demo.hessian.server.service.impl.FileServiceImpl</param-value>
        </init-param>
        <!-- 提供给客户端调用的接口，这里的home-api配置不是必须的，可以不配置 -->
        <init-param>
            <!-- home-api 也可以写为api-class -->
            <param-name>home-api</param-name>
            <!-- 接口 -->
            <param-value>com.cyl.demo.hessian.api.service.FileService</param-value>
        </init-param>
    </servlet>
    <!-- 映射 file servlet 的URL地址 -->
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>

    <!-- 配置 school servlet -->
    <servlet>
        <servlet-name>school</servlet-name>
        <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
        <!-- 配置接口的具体实现类 -->
        <init-param>
            <param-name>service-class</param-name>
            <param-value>com.cyl.demo.hessian.server.service.impl.SchoolServiceImpl</param-value>
        </init-param>
    </servlet>
    <!-- 映射 school servlet 的URL地址 -->
    <servlet-mapping>
        <servlet-name>school</servlet-name>
        <url-pattern>/school</url-pattern>
    </servlet-mapping>

</web-app>